<!DOCTYPE html>
<html>
<head>
  <title>Learning Journal</title>
  <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
<body>

<p>
  <a href="/">Home</a> |
  {% if request.authenticated_userid %}
      <a href="{{request.route_url('logout')}}">Log Out</a>
  {% else %}
      <a href="{{request.route_url('login')}}">Login</a>
  {% endif %}
</p>

<h1>Welcome to the Learning Journal</h1>

{% block content %}

{% endblock %}

</body>
</html>