<!DOCTYPE html>
<html>
<head>
  <title>Learning Journal</title>
</head>
<body>

<p>
  <a href="/">Home</a>
</p>

<h1>Welcome to the Learning Journal</h1>

{% block content %}

{% endblock %}

</body>
</html>