{% extends "base.jinja2" %}

{% block content %}

    <div class='add-button'>
        {% if request.has_permission('create') %}
            <a href="{{request.route_url('add')}}">NewEntry</a>
        {% endif %}
    </div>
    {% for entry in entries %}

        <h4>
            <a href="{{request.route_url('detail', entry_id=entry.id)}}">
            {{entry.title}}
            </a>
        </h4>

        <p>{{entry.created.strftime('%Y-%m-%d at %H:%M UTC')}}</p>

        </br>
    {% endfor %}

{% endblock %}